<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:hasFragileUserData="false"
        tools:ignore="MissingApplicationIcon,UnusedAttribute"
        tools:replace="android:hasFragileUserData" />

</manifest>