/caches
/modules
/shelf

AndroidProjectSystem.xml

compiler.xml
deploymentTargetDropDown.xml
deploymentTargetSelector.xml
deviceManager.xml
gradle.xml
kotlinc.xml
misc.xml
runConfigurations.xml
vcs.xml
workspace.xml
